<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<article ng-controller="SearchCustomer" class="well">
				<p class="text-center">
					<strong>Rechercher un client</strong>
				</p>
				<form class="input-fluid" ng-submit="search()">
					<div class="input-append">
						<input type="text" ng-model="customer" required
							placeholder="Nom ou code" />
						<button class="btn">
							<i class="icon-search"></i>
						</button>
					</div>
				</form>
				<button class="btn btn-large btn-block" ng-click="">Nouveau
					Client</button>

				<!-- Recherche Client -->
				<div modal="serviceCustomer.hasCustomers" close="close()"
					options="opts">
					<div class="modal-header">
						<h3>Liste des clients correspondants</h3>
					</div>
					<div class="modal-body pre-scrollable">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nom</th>
									<th>Prénom</th>
								</tr>
							</thead>
							<tbody>
								<tr class="selectable"
									ng-repeat="customer in serviceCustomer.customers"
									ng-click="selectCustomer(customer)">
									<td>{{customer.id}}</td>
									<td>{{customer.lastname}}</td>
									<td>{{customer.firstname}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button class="btn cancel" ng-click="close()">Annuler</button>
					</div>
				</div>
			</article>
			<article ng-controller="InfosCustomer" class="well">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Informations</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Numéro</td>
							<td>{{serviceCustomer.customer.id}}</td>
						</tr>
						<tr>
							<td>Nom</td>
							<td>{{serviceCustomer.customer.lastname}}</td>
						</tr>
						<tr>
							<td>Prénom</td>
							<td>{{serviceCustomer.customer.firstname}}</td>
						</tr>
						<tr>
							<td>E-mail</td>
							<td>{{serviceCustomer.customer.email}}</td>
						</tr>
						<tr>
							<td>Depuis</td>
							<td>{{serviceCustomer.customer.date_add}}</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-large btn-block">Modifier</button>
				<button class="btn btn-large btn-block">Créer une carte</button>
			</article>
		</div>
		<div class="span6">
			<article ng-controller="ListProducts" class="well">
				<p class="text-center">
					<strong>Commande</strong>
				</p>
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Produit</th>
							<th>Quantité</th>
							<th>Prix</th>
							<th>Total</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in serviceProduct.listProducts">
							<td>{{product.name}}</td>
							<td>{{product.quantity}}
								<div class="btn-group pull-right">
									<button class="btn btn-mini" ng-click="incQuantity(product)">
										<i class="icon-plus-sign"></i>
									</button>
									<button class="btn btn-mini" ng-click="disQuantity(product)">
										<i class="icon-minus-sign"></i>
									</button>
								</div>
							</td>
							<td><span class="pull-right">{{product.price}}€</span></td>
							<td><span class="pull-right">{{product.total}}€</span></td>
							<td>
								<div class="pull-right">
									<button class="btn btn-mini" ng-click="removeProduct(product)">
										<i class="icon-remove-sign"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="text-right">
					<strong>Total :</strong> {{serviceProduct.total}}€
				</p>
			</article>
		</div>
		<div class="span3">
			<article ng-controller="AddProduct" class="well">
				<p class="text-center">
					<strong>Ajouter un produit</strong>
				</p>
				<form ng-submit="search()" class="input-fluid">
					<div class="input-append">
						<input type="text" ng-model="product" required
							placeholder="Produit" />
						<button class="btn">
							<i class="icon-plus-sign"></i>
						</button>
					</div>
				</form>
				<!-- Ajout Produit -->
				<div modal="serviceProduct.hasProducts" close="close()"
					options="opts">
					<div class="modal-header">
						<h3>Liste des produits correspondants</h3>
					</div>
					<div class="modal-body pre-scrollable">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nom</th>
									<th>Prix</th>
								</tr>
							</thead>
							<tbody>
								<tr class="selectable"
									ng-repeat="product in serviceProduct.products"
									ng-click="selectProduct(product)">
									<td>{{product.id}}</td>
									<td>{{product.name}}</td>
									<td><span class="pull-right">{{product.price}}€</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button class="btn cancel" ng-click="close()">Annuler</button>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>